﻿html {
    overflow: hidden;
    height: 100%;
    border: none;
    padding: 0px;
    margin: 0px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table
}

.box-header:after, .box-body:after, .box-footer:after {
    clear: both
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

    .open .btn-box-tool,
    .btn-box-tool:hover {
        color: #606c84;
    }

.box-main {
    margin: 0;
    border: 0;
    padding-top: 2px;
    border-radius: 0;
    box-shadow: none
}

    .box-main > .box-header {
        border-bottom: 1px solid #eee;
        padding: 12px 10px 2px 15px
    }

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-main > .box-header .box-title {
    font-size: 16px;
    margin-top: 2px;
    float: left
}

    .box-main > .box-header .box-title .fa {
        font-size: 14px;
        padding-right: 3px;
        margin-top: -2px
    }

.box-main > .box-header .box-tools {
    position: relative;
    top: -5px;
    right: 0
}

    .box-main > .box-header .box-tools .btn {
        padding: 3px 10px 5px 10px;
        font-size: 14px;
        margin-bottom: 2px
    }

    .box-main > .box-header .box-tools .btn-box-tool {
        padding: 4px 2px
    }

.box-main form > .box-footer, .nav-main form > .box-footer {
    background: #fafafa
}

    .box-main form > .box-footer .row, .nav-main form > .box-footer .row {
        margin: 5px 0 5px -25px
    }

/** select2 样式修改 */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1AB394;
    border-color: #1AB394;
    padding: 1px 10px;
    color: #fff
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255,255,255,0.7)
}

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
        color: #fff
    }

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

/** 表单验证 样式布局 */
label.error {
    position: absolute;
    right: 18px;
    top: 7px;
    color: #ef392b;
    font-size: 12px;
    z-index: 1;
}

.Validform_error, input.error, select.error {
    background-color: #fbe2e2;
    border-color: #c66161;
    color: #c00
}

.Validform_wrong, .Validform_right, .Validform_warning {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    vertical-align: middle;
    padding-left: 25px
}

.i-checks label.error, .check-box label.error, .radio-box label.error {
    right: auto;
    width: 150px;
    left: 210px;
    top: 1px;
    max-width: none;
}

/** 遮罩层 */
.loaderbox {
    display: inline-block;
    min-width: 125px;
    padding: 10px;
    margin: 0 auto;
    color: #000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

    .loaderbox .loading-activity {
        float: left;
        width: 18px;
        height: 18px;
        border: solid 2px transparent;
        border-top-color: #000;
        border-left-color: #000;
        border-radius: 10px;
        -webkit-animation: pace-spinner 400ms linear infinite;
        -moz-animation: pace-spinner 400ms linear infinite;
        -ms-animation: pace-spinner 400ms linear infinite;
        -o-animation: pace-spinner 400ms linear infinite;
        animation: pace-spinner 400ms linear infinite;
    }

@media (max-width: 767px) {
    .loading-activity {
        width: 18px;
        height: 18px;
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/** 表单查询条件 */
ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

li {
    list-style: none;
}

.time-input {
    display: block;
    width: 100%;
    padding-left: 10px;
}

label {
    font-weight: normal;
}

.container-div {
    padding: 10px 35px;
    height: 100%;
    background-color:white;
}

    .container-div .row {
        height: 100%;
    }

.search-collapse, .select-table {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.search-collapse {
    position: relative;
}

    .search-collapse .col-sm-6 .control-label {
        color: #333;
    }

@media ( max-width : 768px) {
    .search-collapse {
        display: none;
    }
}

@media ( min-width : 768px) {
    .select-list > ul > li {
        float: left;
    }
}

.select-list > ul > li {
    color: #333;
    margin: 5px 15px 5px 0px;
    height: 30px;
}

.select-list li input {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    outline: none;
    height: 30px;
    width: 280px;
    padding-left: 5px;
}

.select-list li .submit-btn {
    border: 0px;
    border-radius: 4px;
    background: transparent;
    outline: none;
    width: 40px;
    height: 23px;
}

.select-list li select {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    outline: none;
    height: 30px;
    width: 280px;
}

.select-list .select-time input {
    width: 133px;
}

.select-time label, .select-time span, .select-time input {
    float: left;
}

.select-time label {
    margin-top: 5px;
}

.select-time span {
    display: block;
    margin: 5px 5px;
}

.search-btn {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFF;
    margin-bottom: 5px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
}

/** 表格查询数据 */
.table-striped {
    min-height: 75%;
}

    .table-striped .bootstrap-table {
        border: 0px !important;
    }

    .table-striped .table, .fixed-table-container, table, .table-striped .table, .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-bottom: 1px solid #e7eaec !important;
        background-color: transparent;
        border: 0px;
    }

        .table-striped .table > thead > tr > th, .table-striped .table > tbody > tr > th {
            border-bottom: 1px solid #ccc !important;
            border-top: 0px !important;
        }

        .table-striped .table > thead:first-child > tr:first-child > th {
            color: #333;
        }

.table-bordered td, .table-bordered th {
    border: 1px solid #ddd !important
}

.control-label > .red {
    position: relative;
    top: 3px;
    color: red;
}

.treeSelect-panel {
    position: absolute;
    overflow: auto;
    border: 1px solid #DCDCDC;
    width: 100%;
    display: none;
    border-top-width: 0;
    z-index: 101;
    background: white;
}

.treeSelect-input {
    width: 100%;
    padding: 5px;
}

.treeSelect-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #FFF;
    opacity: .1;
    z-index: 99;
}

/* jQuery autocomplete */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #c5c5c5;
    background: #f3f3f4;
    font-weight: normal;
    color: #676a6c;
}

/** 首页样式 **/
.ax_close_max {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 9999;
    display: none;
    color: #ccc;
}

.navbar-right > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 138px;
}

.navbar-right > .user-menu .user-image {
    float: left;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 8px;
    margin-top: -3px;
}

@media (max-width:767px) {
    .navbar-right > .user-menu .user-image {
        float: none;
        margin-right: 0;
        margin-top: -8px;
        line-height: 10px;
    }
}

.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion {
    margin-right: 10px;
}

.dropdown-menu > li > a:hover {
    background-color: #e1e3e9;
    color: #333;
}

.dropdown-menu > .divider {
    background-color: #eee;
}

.img-xs {
    width: 32px;
    height: 32px;
}

.img-sm {
    width: 64px;
    height: 64px;
}

.img-md {
    width: 96px;
    height: 96px;
}

.img-lg {
    width: 120px;
    height: 120px;
}