﻿
li {
    list-style: none;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

body, td, th {
    color: #666666;
}

#dv_table td {
    background-color: #FFF;
}


.index-container {
    width: 1200px;
    /*padding: 0 80px;*/
    background: #fff;
    padding-left: 80px;
    padding-right: 55px;
}

.header {
    background: white;
    box-shadow: 0 3px 7px 0px #d0d0d0;
    position: relative;
}

    .header .header-cont {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0px 10px;
        align-items: center;
    }

    .header .container:before,
    .header .container:after {
        display: none;
    }

    .header .header-cont .navbar {
        min-height: auto;
    }

    .header .header-cont .logo {
        display: flex;
        justify-content: flex-start;
    }

    .header .header-cont .navbar-default {
        background: none;
        color: #fff;
    }

    .header .header-cont .nav-menu {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0px;
    }

        .header .header-cont .nav-menu a {
            /*font-weight: bold;*/
            color: #535353;
            /*padding: 0 17px;*/
        }

            .header .header-cont .nav-menu a:hover {
                color: white;
            }

        .header .header-cont .nav-menu li {
            width: 133px;
        }

            .header .header-cont .nav-menu li:not(.nohover):hover {
                background-color: #108AED;
            }



            .header .header-cont .nav-menu li:last-child a {
                padding-right: 0;
            }

    .header .index-container {
        background: none;
    }

.e1 {
    font-size: 12px;
}

.header-ico {
    background: #c50001;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -26px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    border: 4px solid #fff;
    top: 50px;
    padding-top: 2px;
    padding-left: 1px;
}

.ywtb {
    height: 450px;
}

.ywtb-title {
    margin-bottom: 45px;
    height: 38px;
    background: url('../../Index/images/Index_second/icon/ywtb.png') center no-repeat;
    text-align: center;
}

.right-side {
    margin-left: 30px;
    padding-left: 13px;
    border-left: 4px solid #c50001;
    position: relative;
    padding-bottom: 40px;
}

.left-side {
    padding-top: 56px;
}

.right-side {
    padding-top: 56px;
}

.left-side .red {
    color: red;
}

.left-side .blue {
    color: #108AED;
}

.left-side span {
    font-size: 22px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.left-side .search-cont .btn {
    padding: 0 15px;
    background: #3171b7;
    color: #fff;
    height: 56px;
    width: 58px;
    font-size: 26px;
    border-radius: 0;
}

.left-side .hot {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

    .left-side .hot a {
        display: inline-block;
        color: #666;
        margin-right: 12px;
    }

        .left-side .hot a:hover {
            color: #c50001;
        }

.left-side .Slider-one .owl-controls .owl-nav {
    display: none;
}

.left-side .Slider-one .owl-dots {
    top: 10px;
    bottom: auto;
}

.left-side .item {
    max-height: 318px;
    overflow: hidden;
}

.left-side .owl-carousel .owl-item img {
    height: 248px;
}

.left-side .item span {
    font-size: 14px;
}

.left-side .owl-item > .item > a > .title {
    padding: 0;
}

.left-side .item span {
    font-size: 14px;
}

.header-1 {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

    .header-1 h2 {
        color: #de371c;
        font-size: 18px;
        border-left: 3px solid #de371c;
        padding-left: 15px;
        font-weight: 700;
        margin: 20px 10px;
    }

.index-container .header-1 {
    border-bottom: 0;
    margin-top: 25px;
}

    .index-container .header-1 h2 {
        font-size: 18px;
        margin: 18px 0 15px;
    }

.left-side .header-1 h2 {
    text-align: left;
}

.header-1 h2 a {
    color: #de371c;
}

.uli-no-ico li a .tag {
    float: left;
    border-right: 1px solid #ddd;
    margin-right: 10px;
    padding-right: 10px;
    width: 55px;
}

.nowrap, ul.nowrapli li a {
    margin-left: 0;
    width: 100%;
}

.uli-no-ico li {
    padding-left: 0;
    font-size: 16px;
    line-height: 1;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btnicon-round {
    position: relative;
    display: flex;
    margin-top: 10px;
}

    .btnicon-round li {
        text-align: center;
        margin-bottom: 0 !important;
    }

        .btnicon-round li a {
            text-decoration: none;
        }

            .btnicon-round li a p {
                font-size: 14px;
                color: #333;
            }

            .btnicon-round li a:hover p {
                color: #c50001;
            }

            .btnicon-round li a .btn {
                width: 55px;
                height: 55px;
                background: #fef8f1;
                margin-bottom: 10px;
                border-radius: 50%;
                padding: 0;
                line-height: 56px;
            }

                .btnicon-round li a .btn i {
                    display: inline-block;
                    font-size: 28px;
                    color: #c50001;
                    transition: 0.3s;
                }

        .btnicon-round li:hover a .btn i {
            font-size: 30px;
            transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -moz-transform: rotate(-15deg);
            -webkit-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
        }

        .btnicon-round li:hover a .btn {
            background: #c50001;
            color: #fff;
            -ms-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -o-transform: scale(1.05);
        }

        .btnicon-round li:hover a i {
            color: #fff;
        }

        .btnicon-round li .hover-show {
            width: 100%;
            height: 164px;
            left: 0;
            top: 56px;
            border: 1px solid #eee;
            padding: 12px 10px 4px 10px;
            margin: 10px 0;
            box-shadow: none;
            transition: 0.3s;
            background-color: #f8f8f8;
        }

            .btnicon-round li .hover-show li {
                float: left;
                width: 50%;
                padding-bottom: 10px;
                padding-top: 0;
            }

                .btnicon-round li .hover-show li a {
                    text-align: left;
                    position: relative;
                    padding-left: 25px;
                    background: none;
                    font-size: 14px;
                }

                    .btnicon-round li .hover-show li a:hover {
                        margin-left: 5px;
                    }

                    .btnicon-round li .hover-show li a:before {
                        content: "";
                        border: 5px solid transparent;
                        border-left-color: #c50001;
                        left: 14px;
                        top: 7px;
                        position: absolute;
                        width: 0;
                        height: 0;
                    }

            .btnicon-round li .hover-show:before {
                content: "";
                border: 8px solid transparent;
                border-bottom-color: #eee;
                top: -16px;
                position: absolute;
                width: 0;
                height: 0;
            }

            .btnicon-round li .hover-show:after {
                content: "";
                border: 6px solid transparent;
                border-bottom-color: #f8f8f8;
                top: -12px;
                position: absolute;
                width: 0;
                height: 0;
                margin-left: 2px;
            }

        .btnicon-round li:nth-child(1) .hover-show:before {
            left: 7.5%;
        }

        .btnicon-round li:nth-child(1) .hover-show:after {
            left: 7.5%;
        }

        .btnicon-round li:nth-child(2) .hover-show:before {
            left: 28%;
        }

        .btnicon-round li:nth-child(2) .hover-show:after {
            left: 28%;
        }

        .btnicon-round li:nth-child(3) .hover-show:before {
            left: 48%;
        }

        .btnicon-round li:nth-child(3) .hover-show:after {
            left: 48%;
        }

        .btnicon-round li:nth-child(4) .hover-show:before {
            left: 68%;
        }

        .btnicon-round li:nth-child(4) .hover-show:after {
            left: 68%;
        }

        .btnicon-round li:nth-child(5) .hover-show:before {
            left: 88%;
        }

        .btnicon-round li:nth-child(5) .hover-show:after {
            left: 88%;
        }

.icon-lr li {
    margin-bottom: 10px;
}

    .icon-lr li a {
        display: block;
        padding: 12px 0;
        color: #fff;
        background: #de371c;
    }

        .icon-lr li a:hover {
            background: #ed371b;
        }

        .icon-lr li a i {
            font-size: 26px;
            vertical-align: sub;
            margin: 0 15px 0 55px;
        }

    .icon-lr li.search-input {
        position: relative;
    }

        .icon-lr li.search-input input {
            width: 100%;
            border: 1px solid #eee;
            height: 50px;
        }

        .icon-lr li.search-input .search-btn {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 40px;
            text-align: center;
            font-size: 24px;
            color: #de371c;
            background: transparent;
            border: 0;
        }

        .icon-lr li.search-input i {
            margin: 0;
            vertical-align: inherit;
        }

.left-side .icon-lr li a {
    background: #fef8f1;
    color: #c50001;
}

    .left-side .icon-lr li a:hover {
        background: #c50001;
        color: #fff;
        -ms-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

    .left-side .icon-lr li a i {
        margin-left: 20px;
        margin-right: 10px;
    }

.pic-lr li{
    margin-bottom: 10px;
}
.pic-lr li p{
    color: #c50001;
}




.right-side-2 {
    border-color: #920783 !important;
    padding-top: 10px;
}

    .right-side-2 .header-ico {
        background: #920783;
        top: 0;
    }

.right-side-3 {
    border-color: #00A1E9 !important;
    padding-top: 10px;
}

    .right-side-3 .header-ico {
        background: #00A1E9;
        top: 0;
    }

.right-side-4 {
    border-color: #C590BF !important;
    padding-top: 10px;
}

    .right-side-4 .header-ico {
        background: #C590BF;
        top: 0;
    }




.ss_table {
    width: 100%;
    text-align: center;
}

    .ss_table thead tr th {
        background-color: #C40001;
        color: white;
        height: 48px;
        width: 90px;
        text-align: center;
    }

    .ss_table tbody tr th {
        height: 48px;
        width: 115px;
        text-align: center;
    }

    .ss_table thead tr th > span {
        font-weight: normal;
    }

    .ss_table tbody tr td {
        height: 50px;
    }

    /*设置奇数行颜色*/
    /*table tr:nth-child(odd) {
                    background: #ccc;
                }*/
    /*设置偶数行颜色*/
    .ss_table tr:nth-child(even) {
        background: #CCE9F7;
    }

.footer-cont {
    padding: 20px 0;
    /*background: #108AED;*/
}

/*footer*/
.footer .index-container {
    padding: 0;
}

.footer .footer-links {
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #878181;
    margin-bottom: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 26px;
    /* padding-bottom: 20px; */
    /* border-bottom: 1px solid #878181; */
    /* margin-bottom: 20px; */
}

    .footer .footer-links > li > a {
        color: #c4c1c1;
        /*padding: 0 20px;*/
        font-size: 14px;
    }

    .footer .footer-links .dropdown-menu {
        border-radius: 0;
        max-height: 300px;
        overflow-y: auto;
    }

.footer .footer-info p {
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 2px;
}

    .footer .footer-info p img {
        margin-right: 5px;
    }

.footer .footer-info a {
    color: #c4c1c1;
}

.footer .footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px;
}

    .footer .footer-img img {
        margin: 0 10px;
    }

.footer-info {
    background-color: #108AED;
    text-align: center;
}

    .footer-info div {
        display: inline-block;
        vertical-align: middle;
    }

        .footer-info div img {
            margin: 0 10px;
        }

img {
    max-width: 100%;
    width: inherit;
}

.dbuL {
    margin: 0;
    padding: 0;
    text-align: left;
}

    .dbuL li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .dbuL li:nth-child(odd) {
            background: #f9f9f9;
        }

        .dbuL li:hover {
            background: #ddd;
        }
/*=====================首页图片滚动====================*/
#toggle_btn {
    background-repeat: no-repeat;
    text-align: center;
    width: 160px;
    height: 25px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255,255,255,0.5);
    left: 50%;
    margin-left: -80px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

    #toggle_btn:hover {
        cursor: pointer;
    }

.span_right {
    font-size: 0.8em; /*大小*/
    padding: 0.4em;
    width: 14px;
    height: 14px;
    border-top: 3px solid #ffffff; /*上面的线条*/
    border-right: 3px solid #ffffff; /*右边线条*/
    transform: rotate(315deg); /*主要是这个旋转45度*/
    opacity: 1;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 35%;
}

/*.header .nav-ul .top-link {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 50px;
}
.header .nav-ul .top-link a {
    margin-left: 25px;
    color: #fff;
    font-size: 13px;
    opacity: 0.8;
}
.header .nav-ul .top-link a:hover {
    opacity: 1;
}*/

/*=====================首页Tab样式表====================*/
/*选项卡1*/
.lib_tab {
    height: 400px;
    /*width: 45%;*/
    margin: 0;
}

.lib_tab1 {
    height: 205px;
    width: 100%;
    margin: 0;
}

.lib_tab3 {
    height: 450px;
    /* margin-left: 85px; */
    /* padding-left: 39px; */
    /* width: 95.4%; */
    margin: 0;
    /* margin-top: 100px; */
    font-size: 10px;
    font-family: 'Microsoft YaHei';
    border: 1px solid;
    /* margin: 10px; */
    margin-left: 39px;
}

.lib_Contentbox {
    clear: both;
    margin-top: 0px;
    border-top: none;
    padding-top: 2px;
    overflow: hidden;
}

.lib_ContentboxIo {
    clear: both;
    margin-top: 0px;
    border-top: none;
    padding-top: 2px;
    overflow: hidden;
    /*width:600px;*/
}

.lib_height1 {
    height: 261px;
    width: 326px;
    /*margin-left: 32px;*/
}

.lib_height1Io {
    height: 268px;
}

.lib_height2 {
    height: 310px;
}

.zero {
    margin: 0;
    padding: 0;
}


.lib_ContentboxhHY {
    clear: both;
    margin-top: 0px;
    border-top: none;
    height: 275px;
    padding-top: 2px;
}

/*接口焦点图修改*/
/*焦点图*/
.focus {
    position: relative;
    width: 495px;
    height: 390px;
    background-color: #000;
    float: left;
    border: 0px;
    top: 8px;
    left: 10px;
}

    .focus img {
        width: 100%;
        height: 375px;
    }

    .focus .shadow .title {
        width: 100px;
        height: 45px;
        padding-left: 10px;
        padding-top: 20px;
    }

        .focus .shadow .title a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            font-weight: bolder;
            overflow: hidden;
        }

    .focus .btn {
        position: absolute;
        bottom: 34px;
        left: 510px;
        overflow: hidden;
        zoom: 1;
    }

        .focus .btn a {
            position: relative;
            display: inline;
            width: 13px;
            height: 13px;
            border-radius: 7px;
            margin: 0 5px;
            color: #B0B0B0;
            font: 12px/15px "\5B8B\4F53";
            text-decoration: none;
            text-align: center;
            outline: 0;
            float: left;
            background: #D9D9D9;
        }

            .focus .btn a:hover, .focus .btn a.current {
                cursor: pointer;
                background: #fc114a;
            }

    .focus .fPic {
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .focus .D1fBt {
        overflow: hidden;
        zoom: 1;
        height: 16px;
        z-index: 10;
    }

    .focus .shadow {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 10;
        height: 45px;
        line-height: 49px;
        background: rgba(0,0,0,0.2);
        filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

        .focus .shadow a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            overflow: hidden;
            margin-left: 10px;
            font-family: 'Microsoft YaHei';
        }


    .focus .fcon {
        position: relative;
        width: 198%;
        float: left;
        display: none;
        background: #000;
    }

        .focus .fcon img {
            display: block;
        }

    .focus .fbg {
        bottom: 11px;
        right: 0px;
        position: absolute;
        height: 21px;
        text-align: center;
        z-index: 200;
        margin-bottom: 70px;
        margin-right: -49px;
    }

        .focus .fbg div {
            margin: 4px auto 0;
            overflow: hidden;
            zoom: 1;
            height: 14px;
        }

    .focus .fbg11 div {
        margin: 4px auto 0;
        overflow: hidden;
        zoom: 1;
        height: 14px;
        margin-left: -200px;
    }

    .focus .D1fBt a {
        position: relative;
        display: inline;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin: 0 5px;
        /*color: #B0B0B0;*/
        font: 12px/15px "\5B8B\4F53";
        text-decoration: none;
        text-align: center;
        outline: 0;
        float: left;
        background: white;
    }

        .focus .D1fBt .current, .focus .D1fBt a:hover {
            background: #429EED;
        }

    .focus .D1fBt img {
        display: none;
    }

    .focus .D1fBt i {
        display: none;
        font-style: normal;
    }

    .focus .prev, .focus .next {
        position: absolute;
        width: 30px;
        height: 73px;
        background: url(../index/images/focus_btn.png);
    }

    .focus .prev {
        top: 50%;
        margin-top: -37px;
        left: 0;
        background-position: -10px -74px;
        cursor: pointer;
    }

    .focus .next {
        top: 50%;
        margin-top: -37px;
        right: 0;
        background-position: -40px -74px;
        cursor: pointer;
        margin-right: -164px;
    }

    .focus .prev:hover {
        background-position: -10px 0;
    }

    .focus .next:hover {
        background-position: -40px 0;
    }


/*客运收入*/

.lib_Menubox1 {
    border: 0px;
    height: 40px;
    line-height: 34px;
    position: relative;
    background-color: #E6E6E6;
}

    .lib_Menubox1 ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        position: absolute;
        top: 0px;
        left: 0;
        margin-left: 1px;
        height: 40px;
        text-align: center;
        overflow: hidden;
    }

    .lib_Menubox1 li {
        margin-top: 3px;
        width: auto;
        float: left;
        display: block;
        cursor: pointer;
        padding: 0 3px 0 3px;
        margin-right: 1px;
        height: 40px;
        line-height: 34px;
        /* font-size: 14px; */
        /* font-family: 'Microsoft YaHei'; */
        /* font-weight: bold; */
        color: #595959;
        border: 1px solid white;
    }

        .lib_Menubox1 li span {
            font-family: 'Microsoft YaHei';
            font-weight: bold;
            /*color:#595959;*/
        }


        .lib_Menubox1 li.hover {
            background: white;
            height: 40px;
            line-height: 34px;
            color: #CE363C;
        }

.td_img {
    height: 50px;
    width: 50px;
    float: right;
}

.tab_date {
    /*height: 32px;
    width: 100%;
    text-align: center;
    line-height: 35px;
    margin: 0 auto;
    border: 1px solid;
    border-top: 3px solid;
    font-weight: bold;
    font-size: 14px;*/
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: 1px solid;
    border-top: 3px solid;
    font-weight: bold;
    font-size: 14px;
}

._history {
    border-color: #FF9900;
    color: #FF9900;
}

._year {
    border-color: #1E8921;
    color: #1E8921;
}

._daily {
    border-color: #357FFA;
    color: #357FFA;
}

.td_onTime_title {
    width: 53%;
}

    .td_onTime_title div {
        width: 70%;
        height: 65%;
        margin: 0 auto;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

.dv_onTime_title div {
    background-color: #E1A6C2;
    border-top: 2px solid #F95673;
    font-size: 13px;
}

.dv_onWork_title div {
    background-color: #7EBED7;
    border-top: 2px solid #214893;
    font-size: 13px;
}

#td_sections3, #td_lineDistance3, #td_stationCount3, #td_sections1, #td_lineDistance1, #td_stationCount1, #td_sections2, #td_lineDistance2, #td_stationCount2 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

    #td_sections3 font, #td_lineDistance3 font, #td_stationCount3 font, #td_sections1 font, #td_lineDistance1 font, #td_stationCount1 font, #td_sections2 font, #td_lineDistance2 font, #td_stationCount2 font {
        font-size: 18px;
        font-weight: bold;
    }

    #td_sections3 font, #td_sections2 font, #td_sections1 font {
        color: #FC482F;
    }

    #td_lineDistance3 font, #td_lineDistance1 font, #td_lineDistance2 font {
        color: #7F4CC2;
    }

    #td_stationCount3 font, #td_stationCount1 font, #td_stationCount2 font {
        color: #7AAEE0;
    }

#incomeDaily3, #incomeYear3, #incomeHis3, #incomeDaily1, #incomeYear1, #incomeHis1, #incomeDaily2, #incomeYear2, #incomeHis2 {
    /*padding-left: 10px;*/
}

    #incomeDaily3 font, #incomeYear3 font, #incomeHis3 font, #incomeDaily1 font, #incomeYear1 font, #incomeHis1 font, #incomeDaily2 font, #incomeYear2 font, #incomeHis2 font {
        font-size: 12px;
        font-weight: bold;
    }

    #incomeDaily3 font, #incomeDaily1 font, #incomeDaily2 font {
        color: #357FFA;
    }

    #incomeYear3 font, #incomeYear1 font, #incomeYear2 font {
        color: #1E8921;
    }

    #incomeHis3 font, #incomeHis1 font, #incomeHis2 font {
        color: #FF9900;
    }


#incomeTitle3 span, #incomeTitle1 span, #incomeTitle2 span {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

    #incomeTitle3 span font, #incomeTitle1 span font, #incomeTitle2 span font {
        font-size: 20px;
    }

#td_onTime3 font, #td_onTime1 font, #td_onTime2 font {
    font-size: 16px;
    font-weight: bold;
    color: #E1A6C2;
}

#td_onWork3 font, #td_onWork1 font, #td_onWork2 font {
    font-size: 16px;
    font-weight: bold;
    color: #7EBED7;
}
/*接口文字样式修改*/
.txt-listIo li {
    float: right;
    margin-right: 135px;
    width: 400px;
    line-height: 35px;
    height: 25px;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
    white-space: nowrap;
    /*background: url(images/right_n.png) 5px no-repeat;*/
    overflow: hidden;
    border-bottom: dashed 1px #D9D9D9;
    height: 30px;
}

    .txt-listIo li a {
        color: #666;
    }

    .txt-listIo li span {
        float: right;
        color: #9d9d9d;
    }


    .txt-listIo li div, .txt-list_right li div {
        float: left;
        height: 18px;
        width: 18px;
        border-radius: 10px;
        background-color: #ccc;
        color: white;
        text-align: center;
        line-height: 20px;
        margin: 5px 15px 0 10px;
    }

/*文字列表*/
.txt-list_right {
    position: relative;
    padding-right: 5px;
    margin: 0;
    overflow: hidden;
}

    .txt-list_right li {
        display: block;
        font-size: 13px;
        height: 30px;
        line-height: 35px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-bottom: dashed 1px #D9D9D9;
        /*margin-left: -20px;*/
        margin-right: 10px;
    }

        .txt-list_right li a {
            color: #666;
        }

        .txt-list_right li span {
            float: right;
            margin-left: 5px;
            color: #999;
            _padding: 2px 0 2px 5px;
            _z-index: 2;
            _position: absolute;
            _background: #fff;
            _right: 0;
        }


.li_hover li:hover {
    background-color: #FEF2F2;
}

.lib_Menubox {
    border: 0px;
    height: 40px;
    line-height: 34px;
    position: relative;
    background-color: #E6E6E6;
}

    .lib_Menubox ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        position: absolute;
        top: 0px;
        left: 0;
        margin-left: 1px;
        height: 344px;
        width: 99%;
        text-align: center;
        overflow: hidden;
    }

    .lib_Menubox li {
        margin-top: 3px;
        width: auto;
        float: left;
        display: block;
        cursor: pointer;
        padding: 0 3px 0 3px;
        margin-right: 1px;
        height: 40px;
        line-height: 34px;
        font-size: 14px;
        font-family: 'Microsoft YaHei';
        font-weight: bold;
        color: #595959;
        border: 2px solid white;
    }

        .lib_Menubox li span {
            font-family: 'Microsoft YaHei';
            font-weight: bold;
            /*color:#595959;*/
        }


        .lib_Menubox li.hover {
            background: white;
            height: 40px;
            line-height: 34px;
            color: #CE363C;
        }

#li_daiban {
    background-image: url('../../css/images/icon_news.png');
    background-repeat: no-repeat;
    width: 30px;
    background-size: contain;
    margin: 0;
    padding: 0;
    line-height: 25px;
    color: white;
    /*font-size: 12px;*/
    margin-top: 9px;
    border: none;
}



/*li数字翻转效果*/

ol {
    /*counter-reset: li*/; /* 创建一个计数器 */
    /*list-style: none;*/ /* 清除列表默认的编码*/
    /**list-style: decimal*/; /* 让IE6/7具有默认的编码 */
    /*font: 13px;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    font-family: 'Microsoft YaHei';*/
}


.rounded-list a {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 1.5em;
    *padding: 0.4em; /*for ie6/7*/
    margin: -0.1em 0em 0em 1em;
    /*background: #ddd;*/
    font-size: 13px;
    text-decoration: none;
    /*CSS3属性*/
    border-radius: 0.3em; /*制作圆角*/
    /* transition动画效果*/
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-family: 'Microsoft YaHei';
}



    .rounded-list a:hover {
        background: #eee;
        color: red;
    }

        .rounded-list a:hover::before {
            /*悬停时旋转编码*/
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
            background: red;
        }

.rounded-list li a::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1em;
    top: 64%;
    margin-top: -1.3em;
    background: #CCCCCC;
    color: white;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    border: 0.3em solid #fff;
    text-align: center;
    /*font-weight: bold;*/
    border-radius: 2em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin-left: 5px;
}

.rounded-list a span {
    float: right;
}

.rounded-list li {
    border-bottom: 1px dashed #D9D9D9;
    height: 33px;
}

.rounded-list span {
    margin: 4px;
}

.rounded-list li span {
    float: right;
}

.Circlesul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
}

    .Circlesul > li {
        margin-bottom: 20px;
    }

        .Circlesul > li > a > div {
            float: left;
            text-align: center;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            line-height: 16px;
            color: white;
            margin-right: 10px;
            border: 2px solid;
        }

        .Circlesul > li > a > span {
            color: white;
            font-size: 12px;
        }



/*一网通办*/
.ywtb-card {
    font-family: SOURCEHANSANSCN-MEDIUM;
}


    .ywtb-card > li {
        position: relative;
        height: 353px;
        overflow: hidden;
        float: left;
        width: 300px;
        border: 2px solid #ddd;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1), z-index 0s 0.12s;
        margin-left: -1px;
        background-color: #fff;
    }




    .ywtb-card li.active.ywtb-item1 {
        height: 384px;
        width: 51%;
        margin-top: -20px;
        border-color: #2293EE;
        z-index: 2;
    }

    .ywtb-card li.active.ywtb-item2 {
        height: 384px;
        width: 51%;
        margin-top: -20px;
        border-color: red;
        z-index: 2;
    }


    .ywtb-card li.active .card-title {
        background: url(../../Index/images/Index_second/常用事务-背景图.png) center no-repeat;
        color: #fff;
        background-repeat: no-repeat;
        text-decoration: none;
    }

    .ywtb-card li.active.ywtb-item2 .card-title {
        background: url(../../Index/images/Index_second/常用事务-背景图红.JPG);
        color: #fff;
        background-repeat: no-repeat;
        text-decoration: none;
    }


    .ywtb-card li .card-title {
        display: block;
        text-align: center;
        background-color: #f3f1f1;
        color: #40A1F0;
        font-size: 26px;
    }

    .ywtb-card li.ywtb-item1 .card-title {
        display: block;
        text-align: center;
        background-color: #f3f1f1;
        color: #40A1F0;
        font-size: 24px;
    }

    .ywtb-card li.ywtb-item2 .card-title {
        display: block;
        text-align: center;
        background-color: #f3f1f1;
        color: #C40001;
        font-size: 26px;
    }

    .ywtb-card li.active.ywtb-item2 .card-title, .ywtb-card li.active.ywtb-item1 .card-title {
        display: block;
        text-align: center;
        background-color: #f3f1f1;
        color: white;
        font-size: 26px;
    }


    .ywtb-card li .card-title i {
        font-weight: normal;
        font-size: 34px;
        display: block;
    }

    .ywtb-card .icon-list {
        padding: 0px;
    }

        .ywtb-card .icon-list li {
            border-bottom: 1px solid #eee;
        }

    .ywtb-card li.ywtb-item1.active .icon-list {
        margin: 29px 15px;
        overflow: hidden;
    }

    .ywtb-card li.ywtb-item2.active .icon-list {
        margin: 29px 15px;
        overflow: hidden;
    }

    .ywtb-card li.ywtb-item1.active .icon-list li {
        float: left;
        width: 25%;
        text-align: center;
        border: 0;
    }

    .ywtb-card li.ywtb-item2.active .icon-list li {
        float: left;
        width: 25%;
        text-align: center;
        border: 0;
    }

        .ywtb-card li.ywtb-item2.active .icon-list li i {
            position: relative;
            float: none;
            padding: 13.3px 0;
            margin: 0 auto 5px;
            width: 50px;
            height: 50px;
            line-height: 24px;
            border-radius: 50%;
            text-align: center;
            display: block;
            border: 1px solid red;
            color: red;
            overflow: hidden;
            transition: 0.6s;
            font-size: 30px;
        }

    .ywtb-card li.ywtb-item1.active .icon-list li i {
        position: relative;
        float: none;
        margin: 0 auto 5px;
        padding: 13.3px 0;
        width: 50px;
        height: 50px;
        line-height: 27px;
        border-radius: 50%;
        text-align: center;
        display: block;
        border: 1px solid #2293EE;
        color: #2293EE;
        overflow: hidden;
        transition: 0.6s;
        font-size: 30px;
    }


    .ywtb-card .icon-list li a i {
        font-size: 35px;
        float: left;
        margin-right: 9px;
        margin-left: 9px;
    }

    .ywtb-card li.ywtb-item1.active .icon-list li a i:after,
    .ywtb-card li.ywtb-item2.active .icon-list li a i:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        background: #2293EE;
        opacity: 0;
        transition: 0.6s;
        border-radius: 50%;
        z-index: -1;
    }

    .ywtb-card li.ywtb-item1.active .icon-list li a span {
        background: #f00;
        border-radius: 50%;
        width: 20px;
        height: 21px;
        top: 100px;
        left: 56px;
        position: absolute;
        text-align: center;
        color: #FFF;
        z-index: 99999;
        line-height: 20px;
        font-size: 10px;
    }

    .ywtb-card li.ywtb-item1 .icon-list li a span {
        text-align: center;
        color: #FFF;
        z-index: 99999;
        line-height: 20px;
    }




    .ywtb-card li.ywtb-item1.active .icon-list li a,
    .ywtb-card li.ywtb-item2.active .icon-list li a {
        display: block;
        padding: 0;
        margin: 0;
        color: #505050;
        overflow: hidden;
        font-size: 16px;
    }

    .ywtb-card li.ywtb-item2.active .icon-list li a {
        margin-bottom: 40px;
    }

    .ywtb-card li.ywtb-item1 .icon-list li a {
        display: block;
        padding: 15px 0;
        color: #505050;
        overflow: hidden;
        font-size: 19px;
        margin-left: 25%;
    }

    .ywtb-card li.ywtb-item2 .icon-list li a {
        display: block;
        padding: 15px 0;
        color: #505050;
        overflow: hidden;
        font-size: 19px;
        margin-left: 25%;
    }

    .ywtb-card li.ywtb-item2 .icon-list li span {
        display: block;
        padding: 19px 0;
        color: #505050;
        overflow: hidden;
        font-size: 19px;
        margin-left: 45%;
    }

    .ywtb-card li.ywtb-item2.active .icon-list li span {
        display: block;
        padding: 16.5px 0;
        color: #505050;
        overflow: hidden;
        font-size: 18px;
        margin: 0;
        padding: 4px;
    }




    .ywtb-card li.active .btn-list {
        position: initial;
        margin: 12px;
        padding: 0px;
        /*margin-left: 24px;*/
        width: 100%;
    }


    .ywtb-card li .btn-list li {
        width: 142px;
        float: left;
        padding: 8px;
    }

ul.btn-list li {
    list-style-type: none;
    padding: 0 2.5px;
    margin-bottom: 5px;
}

.ywtb-card li.ywtb-item1 .btn-list li a {
    line-height: 18px;
    position: relative;
}

.ywtb-card li .btn-list li a {
    padding: 15px;
    display: block;
    border-radius: 3px;
    font-weight: bold;
}

.ywtb-card li .btn-list li.btn-red a, .ywtb-card li.ywtb-item3.active li.btn-red a {
    background-color: #F2AFB6;
    color: #A80D3D;
}

.ywtb-card li .btn-list li.btn-red span {
    float: left;
}


.ywtb-card li .btn-list li.btn-green a, .ywtb-card li.ywtb-item3.active li.btn-green a {
    background-color: #FECFC9;
    color: #EC6200;
}

.ywtb-card li .btn-list li.btn-green span {
    float: left;
}

.ywtb-card li .btn-list li.btn-blue a, .ywtb-card li.ywtb-item3.active li.btn-blue a {
    background-color: #FDEDD6;
    color: #F39751;
}

.ywtb-card li .btn-list li.btn-blue span {
    float: left;
}

.ywtb-card li .btn-list li.btn-orange a, .ywtb-card li.ywtb-item3.active li.btn-orange a {
    background-color: #C8B4BF;
    color: #910781;
}

.ywtb-card li .btn-list li.btn-orange span {
    float: left;
}

.ywtb-card li.ywtb-item1.active .icon-list li a:hover i {
    background-color: #2293EE;
    color: #fff;
}

.ywtb-card li.ywtb-item2.active .icon-list li a:hover i {
    background-color: red;
    color: #fff;
}


.ywtb-card li .btn-list li a i {
    font-weight: normal;
    float: right;
    margin: 0;
    font-size: 28px;
}

.share {
    position: fixed;
    bottom: 300px;
    right: 20px;
    z-index: 99;
}

.share1 {
    position: fixed;
    bottom: 380px;
    right: 20px;
    z-index: 99;
}

.share > ul > li {
    width: 48px;
    height: 48px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    background: #fff;
}

    .share > ul > li:hover {
        background-color: #c50001;
    }

    .share > ul > li > i {
        font-size: 26px;
        color: #b9b9b9;
    }

    .share > ul > li:hover i {
        color: #fff;
    }

    .share > ul > li.help .help-cont {
        display: none;
        position: absolute;
        background: #c50001;
        padding: 10px 20px;
        height: 48px;
        color: #fff;
        left: -102px;
        top: 0;
        border-radius: 50px;
        align-items: center;
        width: 150px;
    }

.share ul li.help .help-cont a {
    white-space: nowrap;
    margin-left: 6px;
    float: left;
    padding-top: 2px;
    font-size: 16px;
    color: #fff;
}

.share ul li.help .help-cont i {
    color: #fff;
    float: left;
    font-size: 24px;
    margin-top: 2px;
}

.share1 > ul > li:not(:first-child) {
    width: 48px;
    height: 48px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    background: #fff;
    margin-left: 13px;
}

.share1 > ul > li:hover {
    background-color: #c50001;
}

.share1 > ul > li > i,
.share1 > ul > li > a > i {
    font-size: 26px;
    color: #b9b9b9;
}

.share1 > ul > li:hover i {
    color: #fff;
}

.share1 > ul > li.help .help-cont {
    display: none;
    position: absolute;
    background: #c50001;
    padding: 10px 20px;
    height: 48px;
    color: #fff;
    left: -102px;
    top: 0;
    border-radius: 50px;
    align-items: center;
    width: 150px;
}

.help .share-show:after {
    display: none;
}

.share1 ul li.help .help-cont a {
    white-space: nowrap;
    margin-left: 6px;
    float: left;
    padding-top: 2px;
    font-size: 16px;
    color: #fff;
}

.share1 ul li.help .help-cont i {
    color: #fff;
    float: left;
    font-size: 24px;
    margin-top: 2px;
}

.share-show {
    position: absolute;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
    background: #fff;
    border-radius: 3px;
}

    .share-show:after {
        content: "";
        border: 8px solid transparent;
        border-left-color: #fff;
        top: 36px;
        right: -16px;
        position: absolute;
        width: 0;
        height: 0;
    }

    .share-show li a i {
        transition: 0.3s;
        display: block;
    }

    .share-show li a:hover i {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

.wx-show {
    left: -135px;
    top: -20px;
}

    .wx-show p {
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 8px;
    }

.mail-show {
    right: 65px;
    top: -20px;
    padding: 20px;
}

    .mail-show .radio-inline {
        display: flex;
        font-size: 14px;
        align-items: center;
        padding-left: 0;
    }

        .mail-show .radio-inline label {
            width: 25%;
        }

        .mail-show .radio-inline .radio {
            margin-top: 0;
        }

    .mail-show .pos-r-t {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #ff9704;
        font-size: 14px;
    }

    .mail-show .login-cont {
        margin-top: 10px;
    }

        .mail-show .login-cont input {
            width: 360px;
            height: 40px;
            border-radius: 3px !important;
            margin-bottom: 10px;
        }

        .mail-show .login-cont .btn {
            border-radius: 3px;
            display: block;
        }

.app-show {
    padding: 20px 10px;
    right: 65px;
    top: -20px;
}

    .app-show ul {
        display: flex;
        flex-direction: row;
    }

        .app-show ul li {
            margin: 0 10px;
        }

    .app-show span {
        font-weight: bold;
        /*font-size: 16px;
    margin-top: 10px;*/
    }

.dy-show .radio-inline label {
    width: 30%;
}

.dy-show label {
    display: flex;
    align-items: center;
}

    .dy-show label input {
        margin-right: 4px;
    }

.dy-cont {
    display: flex;
    align-items: flex-start;
}

.dy-show .dy-cont input {
    width: 290px;
}

.dy-show .dy-cont .btn {
    height: 40px;
}

.share-show {
    padding: 20px 10px;
    right: 60px;
    top: -10px;
    display: none;
}

    .share-show:after {
        top: 24px;
    }

    .share-show ul {
        display: flex;
    }

        .share-show ul li {
            margin: 0 12px;
            float: left;
            width: 100px;
            height: 120px;
        }

            .share-show ul li i {
                font-size: 26px;
            }

                .share-show ul li i.green {
                    color: #5db333;
                }

                .share-show ul li i.red {
                    color: #f02d2d;
                }

                .share-show ul li i.blue {
                    color: #07579d;
                }

                .share-show ul li i.yellow {
                    color: #f4cf32;
                }

.share li .home-share span {
    display: none;
}

.share li .home-share a {
    margin: 0 5px;
}

.share1 ul li:hover .share-show,
.share1 ul li:active .share-show,
.share1 ul li:focus .share-show {
    display: block;
}

.share1 li .home-share span {
    display: none;
}

.share1 li .home-share a {
    margin: 0 5px;
}

.sex1 {
    margin-top: 20px;
    height: 70px;
    font-family: SOURCEHANSANSCN-MEDIUM;
    color: black;
    font-weight: bold;
}

.sexdata {
    display: flex;
    justify-content: space-between;
    width: 99%;
}

    .sexdata p span:first-child {
        margin: 10px;
    }

.sexchart {
    display: flex;
    flex-direction: row;
}

    .sexchart > span {
        margin: 0 15px;
    }

.parchart {
    display: flex;
    flex-direction: row;
}

    .parchart > span {
        margin: 3px 10px;
        width: 70px;
    }
/*男女*/
.sexper {
    width: 500px;
    height: 14px;
    background: rgb(255,102,102);
    line-height: 21px;
    margin-top: 3px;
}

    .sexper p {
        background: rgb(153,205,255);
        z-index: 10;
        float: left;
        width: 10%;
        height: 14px;
        transition: width 2s;
        -webkit-transition: width 2s; /* Safari 和 Chrome */
    }

    .sexper img {
        z-index: 10;
        float: left;
        width: 14px;
        height: 14px;
    }
/*党员，团员*/
.sexperdt {
    width: 500px;
    height: 14px;
    background: rgb(229,229,229);
    line-height: 21px;
    margin-top: 3px;
}

    .sexperdt p {
        background: rgb(255,102,102);
        z-index: 10;
        float: left;
        width: 10%;
        height: 14px;
        transition: width 2s;
        -webkit-transition: width 2s; /* Safari 和 Chrome */
    }

    .sexperdt img {
        z-index: 10;
        float: left;
        width: 14px;
        height: 14px;
    }

.rsTitle {
    text-align: center;
}

    .rsTitle > strong {
        font-size: 18px;
    }

.rsHrLine {
    border: 0;
    background-color: rgb(83,83,83);
    height: 2px;
    width: 95%;
}

.pietitle {
    font-family: SOURCEHANSANSCN-MEDIUM;
    color: rgb(254,0,51);
}
