﻿@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>部门信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">上级部门</label>
                            <div class="col-sm-8">
                                <div id="parentId" col="ParentId"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">部门名称<font class="red"> *</font></label>
                            <div class="col-sm-8">
                                <input id="departmentName" col="DepartmentName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">部门类型<font class="red"> *</font></label>
                            <div class="col-sm-8">
                                <div id="deptType" col="DeptType"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">显示顺序</label>
                            <div class="col-sm-8">
                                <input id="departmentSort" col="DepartmentSort" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>权限</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <div id="menuTree" class="ztree"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>详细</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="gridTable" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>



       
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        //加载上级部门
        $('#parentId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")', async: false });
        //加载目录树
        loadMenuTree();
        //获取表单数据
        getForm();
        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        }), $(".dic").click(function () {
            showDataDictDetailForm("DeptType");
        });
        $("#form").validate({
            rules: {
                departmentName: { required: true },
                parentIdInput: { required: true }
            }
        });
        //获取部门类型通用字典
        $("#deptType").ysComboBox({
            data: top.getDataDict("DeptType"),
            key: "DictKey",
            value: "DictValue",
            class: "form-control"
        });
    });
    function loadMenuTree() {
        $('#menuTree').ysTree({
            async: false,
            url: '@Url.Content("~/SystemManage/Menu/GetMenuTreeListJson")',
            check: { enable: true },
            expandLevel: 0
        })
    }
    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Department/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                        $('#menuTree').ysTree("setCheckedNodes", obj.Data.MenuIds);
                    }
                }
            });
        }
        else {
             ys.ajax({
                 url: '@Url.Content("~/OrganizationManage/Department/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#departmentSort").val(obj.Data);
                    }
                }
            });
        }
    }
    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.ParentId = ys.getLastValue(postData.ParentId);
            postData.MenuIds = $('#menuTree').ysTree("getCheckedNodes");
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Department/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchTreeGrid(obj.Data);
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>
