﻿@{ Layout = "~/Views/Shared/_FormWhite.cshtml"; }

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>部门</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row" id="searchDiv_dept">
                            <div class="col-sm-4">
                                <input id="departmentName" col="DepartmentName" type="text" class="form-control" style="height:28px" placeholder="部门名称" />
                            </div>
                            <div class="col-sm-4">
                                <div id="deptType" col="DeptType"></div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary btn-sm" onclick="searchGridDept()">查询</button>
                            </div>
                        </div>
                        <div class="col-sm-12 select-table table-striped">

                            <table id="gridTable" data-mobile-responsive="true"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>岗位</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row" id="searchDiv_job">
                            <div class="col-sm-4">
                                <input id="jobName" col="JobName" type="text" class="form-control" style="height:28px" placeholder="岗位名称" />
                            </div>
                            <div class="col-sm-4">
                                <div id="jobType" col="JobType"></div>
                            </div>
                            <div class="col-sm-4">
                                <button type="button" class="btn btn-primary btn-sm"  onclick="searchGridJob()">查询</button>
                            </div>
                        </div>
                        <div class="col-sm-12 select-table table-striped">

                            <table id="gridTableJob" data-mobile-responsive="true"></table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>




    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        initGrid();
        initGridJob();
        //获取表单数据
        getForm();
        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        }), $(".dic").click(function () {
            showDataDictDetailForm("DeptType");
        });
        $("#form").validate({

        });
        //获取部门类型通用字典
        $("#deptType").ysComboBox({
            data: top.getDataDict("DeptType"),
            key: "DictKey",
            value: "DictValue",
            class: "form-control"
        });
        //获取岗位类型通用字典
        $("#jobType").ysComboBox({
            data: top.getDataDict("JobType"),
            key: "DictKey",
            value: "DictValue",
            class: "form-control"
        });
        $(".fixed-table-toolbar").hide();
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/Department/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                        $('#menuTree').ysTree("setCheckedNodes", obj.Data.MenuIds);
                    }
                }
            });
        }
        else {
             ys.ajax({
                 url: '@Url.Content("~/OrganizationManage/Department/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#departmentSort").val(obj.Data);
                    }
                }
            });
        }
    }
    function saveForm(index) {
        var postData = {};

        var selectedRowDept = $("#gridTable").bootstrapTable("getSelections");
        var deptIds = ys.getIds(selectedRowDept);
        var selectedRowJob = $("#gridTableJob").bootstrapTable("getSelections");
        var jobIds = ys.getIds(selectedRowJob);
        postData.DeptIds = deptIds;
        postData.JobIds = jobIds;
        ys.ajax({
            url: '@Url.Content("~/OrganizationManage/Department/SaveDeptWithJob")',
            type: "post",
            data: postData,
            success: function (obj) {
                if (obj.Tag == 1) {
                    ys.msgSuccess(obj.Message);
                }
                else {
                    ys.msgError(obj.Message);
                }
            }
        });
    }
    function initGrid() {
        var queryUrl = '@Url.Content("~/OrganizationManage/Department/GetListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'DepartmentName', title: '部门名称', width: '80%' },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="showJob(\'' + row.Id + '\')"><i class="fa fa-pause-circle-o"></i>查看</a> ');
                        return actions.join('');
                    }
                }
            ],
           
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $("#searchDiv_dept").getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGridDept() {
        $('#gridTable').ysTable('search');
    }

    function initGridJob() {
        var queryUrl = '@Url.Content("~/OrganizationManage/Job/GetListJson")';
        $('#gridTableJob').ysTable({
            url: queryUrl,
            columns: [
                { checkbox: true, visible: true},
                { field: 'Id', title: 'Id', visible: false },
                { field: 'JobName', title: '岗位名称', width: '80%' },

            ],
      
            queryParams: function (params) {
                var pagination = $('#gridTableJob').ysTable('getPagination', params);
                var queryString = $("#searchDiv_job").getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGridJob() {
        $('#gridTableJob').ysTable('search');
    }

    function showJob(deptId)
    {
         ys.ajax({
             url: '@Url.Content("~/OrganizationManage/Department/GetFormJson")' + '?id=' + deptId,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        if (result.JobIds.length == 0) {

                            $("#gridTableJob input[type=checkbox]").prop("checked", false);
                           // return;
                        } else {
                            initGridJob();
                            $("#gridTableJob").find("tr").each(function (obj) {
                                var cbk = $(this).children().first().children();
                                var dataid = $(this).attr("data-uniqueid");
                                $.each(result.JobIds, function (index, value) {
                                    console.log("value:" + value);
                                    if (value == dataid) {
                                        cbk.prop("checked", true);
                                    }
                                });
                            });
                        }
                    }
                }
            });
    }
</script>
