﻿@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>账号信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label ">登录名称<font class="red"> *</font></label>
                            <div class="col-sm-4">
                                <input id="userName" col="UserName" type="text" class="form-control" />
                            </div>
                            <label class="col-sm-2 control-label ">登录密码<font class="red"> *</font></label>
                            <div class="col-sm-4">
                                <input id="password" col="Password" type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            @*<label class="col-sm-2 control-label ">工号<font class="red"> *</font></label>
                            <div class="col-sm-4">
                                <input id="workId" col="RealName" type="text" class="form-control" />
                            </div>*@
                            <label class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-4" id="userStatus" col="UserStatus"></div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>角色</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="col-sm-10" id="role" col="RoleIds"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="link-block" />
            <div class="form-group" style="text-align:center">
                <button class="btn btn-primary " type="button" onclick="saveForm()"><i class="fa fa-check"></i>&nbsp;提交</button>&nbsp;<button class="btn btn-primary " type="button" onclick="clearValue()"><i class="fa fa-check"></i>&nbsp;清除</button>
            </div>
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>详细</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table id="gridTable" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var empid = ys.request("id");
    var id = 0;
    $(function ()
    {
        $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function () {
            var div_ibox = $(this).closest("div.ibox"),
                e = $(this).find("i"),
                i = div_ibox.find("div.ibox-content");
            i.slideToggle(200),
                e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
                div_ibox.toggleClass("").toggleClass("border-bottom"),
                setTimeout(function () {
                    div_ibox.resize();
                }, 50);
        }), $(".close-link").click(function () {
            var div_ibox = $(this).closest("div.ibox");
            div_ibox.remove()
        });
        $("#role").ysCheckBox({
            url: '@Url.Content("~/SystemManage/Role/GetListJson")',
            key: "Id",
            value: "RoleName"
        });
        $("#userStatus").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
        initGrid();
        getForm();
        $('#form').validate({
            rules: {
                userName: { required: true },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
            }
        });
        $(".fixed-table-toolbar").hide();
    });
    ///加载账号信息
    function initGrid() {
        var queryUrl = '@Url.Content("~/OrganizationManage/User/GetListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { field: 'Id', title: 'Id', visible: false },
                { field: 'UserName', title: '账号' },
                {
                    field: 'UserStatus', title: '状态', formatter: function (value, row, index) {
                        if (row.UserStatus == "@StatusEnum.Yes.ParseToInt()") {
                            return '<span class="badge badge-primary">' + "@StatusEnum.Yes.GetDescription()" + '</span>';
                        } else {
                            return '<span class="badge badge-warning">' + "@StatusEnum.No.GetDescription()" + '</span>';
                        }
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="getForm(\'' + row.Id + '\')"><i class="fa fa-pause-circle-o"></i>修改</a> ');
                        actions.push('<a class="btn btn-primary btn-xs" href="#" onclick="remove(\'' + row.Id + '\'><i class="fa fa-pause-circle-o"></i>删除</a> ');
                        return actions.join('');
                    }
                }
            ],
            queryParams: function (params) {
                var param = {};
                param.EmpId = empid;
                return param;
            }
        });
    }
    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }
    function getForm(id) {
        if (id > 0) {
            $('#password').attr("readonly", "readonly").attr("disabled", "disabled");
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                        id = id;
                    }
                }
            });
        }
        else {
            var defaultData = {};
            defaultData.UserName = "";
            defaultData.Password = ""
            defaultData.UserStatus = "@StatusEnum.Yes.ParseToInt()";
            $("#form").setWebControls(defaultData);
        }
    }
    
    function clearValue()
    {
        location.reload();
    }
    ///保存
    function saveForm() {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.EmpId = empid;
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }


</script>

